* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content"
        "sidebar main-content";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    color: white;
    background-color: #0284c7;
    padding-left: 2vw;
}

.dashboard {
    padding-top: 2vh;
}

.home {
    padding-top: 4vh;
}

.settings {
    padding-top: 4vh;
}

.tab {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-weight: bold;
    font-size: 1rem;
}

.icon {
    width: 2vw;
}

.header {
    grid-area: header;
}

.main-content {
    background-color: lightgray;
    padding: 30px;
    grid-area: main-content;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    gap: 20px;
}

.projects {
    grid-area: projects;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.project-item {
    background-color: white;
    border-left: solid goldenrod;
}

.announcements {
    background-color: white;
    grid-area: announcements;
}

.trending {
    background-color: white;
    grid-area: trending;
}